<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net452" />
  <package id="AsyncIO" version="0.1.18.0" targetFramework="net452" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net452" />
  <package id="MouseKeyHook" version="5.4.0" targetFramework="net452" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5-rc1" targetFramework="net452" />
  <package id="NetMQ" version="4.0.0.0-beta" targetFramework="net452" />
</packages>